%h2 This phase
%ol
  %li
    = link_to "Interaction Design Brainstorming"
  %li
    = link_to "Interaction Design Scenarios"
  %li
    = link_to "Interaction Design Claims"
  %li
    = link_to "Prototype"
%hr
:markdown
  #{render_markdown "interaction_design_brainstorming"}
