%h2 This phase
%ol
  %li
    = link "Root concept", "./root-concept.html"
  %li
    = link "Field studies", "./field-studies.html"
  %li
    = link "Summaries", "summaries.html"
  %li
    = link "Problem scenarios", "problem-scenarios.html"
  %li
    = link "Claims", "claims.html"
