%h2 This phase
%ol
  %li Home
  %li
    = link_to "Prototyping improvements"
  %li
    = link_to "Evaluation goals"
  %li
    = link_to "Evaluation design"
  %li
    = link_to "Evaluation results"
  %li
    = link_to "Redesign"
  %li
    = link_to "Appendices"
%hr
