%h2 This phase
%ol
  %li
    = link "Home", "./index.html"
  %li
    = link_to "Prototyping improvements"
  %li
    = link_to "Evaluation goals"
  %li
    = link_to "Evaluation design"
  %li
    = link_to "Evaluation results"
  %li Redesign
  %li
    = link_to "Appendices"
%hr
:markdown
  #{render_markdown "redesign"}
