%h2 This phase
%ol
  %li
    = link_to "Activity Design Brainstorming"
  %li
    = link_to "Activity List"
  %li
    = link_to "Activity Scenarios"
  %li
    = link_to "Activity Claims"
  %li
    = link_to "Information Design Brainstorming"
  %li Information Design Scenarios
  %li
    = link_to "Information Design Claims"
  %li
    = link_to "Representations"
%hr
:markdown
  #{render_markdown "information_design_scenarios"}
